n8n/campaign-pipeline.json
{
  "name": "Content Creator: Campaign Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 2 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule: Every 2 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SEATABLE_BASE_URL }}/api-gateway/api/v2/dtables/{{ $env.SEATABLE_DTABLE_UUID }}/sql/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sql: \"SELECT _id, Prompt, Language FROM Campaigns WHERE Status='queued' LIMIT 1\", convert_keys: true }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "poll-queued",
      "name": "SeaTable: Poll Queued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.results.length }}",
              "rightValue": "0",
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "if-has-work",
      "name": "IF: Has Queued Campaign",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.SEATABLE_BASE_URL }}/api-gateway/api/v2/dtables/{{ $env.SEATABLE_DTABLE_UUID }}/rows/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ table_name: 'Campaigns', updates: [{ row_id: $('SeaTable: Poll Queued').item.json.results[0]._id, row: { Status: 'parsing' } }] }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "set-parsing",
      "name": "SeaTable: Set Parsing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    },
    {
      "parameters": {},
      "id": "gemini-parse-brief",
      "name": "Gemini: Parse Brief",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1080, 300],
      "notes": "PLACEHOLDER — Replace with Gemini node (structured output).\n\nModel: gemini-2.5-flash\nResponse format: JSON\n\nSystem prompt:\nYou are a marketing strategist who parses free-text campaign briefs into structured data.\n\nExtract the following from the user's input:\n- Topic: The core subject of the campaign\n- Target audience: Who the content is aimed at\n- Goals: What the campaign should achieve\n- Tone: The desired voice (default: professional but approachable)\n- Key messages: The main points to communicate\n- Language: Detect from the input text (de or en)\n- Requested assets: Which content types and how many\n- Constraints: Any specific requirements or limitations\n\nIf the user doesn't specify certain fields, use reasonable defaults:\n- Goals: [\"Awareness\", \"Engagement\"]\n- Tone: \"Professional, approachable, and knowledgeable\"\n- If no asset types are mentioned, default to: 2 LinkedIn posts + 1 blog article\n\nMap asset mentions to these exact types:\n- LinkedIn/LinkedIn Post → \"linkedin-post\"\n- Twitter/Tweet/X → \"twitter-post\"\n- Blog/Blog Post/Artikel → \"blog-article\"\n- Email/Newsletter → \"email-newsletter\"\n- Instagram/Insta → \"instagram-caption\"\n- Whitepaper/White Paper/PDF → \"whitepaper\"\n\nUser prompt:\nParse this campaign brief into structured data:\\n\\n{{ $('SeaTable: Poll Queued').item.json.results[0].Prompt }}\n\nExpected JSON output:\n{\n  \"topic\": \"string\",\n  \"targetAudience\": \"string\",\n  \"goals\": [\"string\"],\n  \"tone\": \"string\",\n  \"keyMessages\": [\"string\"],\n  \"language\": \"de|en\",\n  \"requestedAssets\": [{ \"type\": \"linkedin-post|blog-article|...\", \"count\": 1, \"notes\": \"optional\" }],\n  \"constraints\": [\"optional strings\"]\n}"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.SEATABLE_BASE_URL }}/api-gateway/api/v2/dtables/{{ $env.SEATABLE_DTABLE_UUID }}/rows/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ table_name: 'Campaigns', updates: [{ row_id: $('SeaTable: Poll Queued').item.json.results[0]._id, row: { Status: 'planning', Topic: $json.topic, 'Target Audience': $json.targetAudience, Tone: $json.tone, Goals: JSON.stringify($json.goals), 'Key Messages': JSON.stringify($json.keyMessages) } }] }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "update-campaign-brief",
      "name": "SeaTable: Update Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300]
    },
    {
      "parameters": {},
      "id": "gemini-plan-content",
      "name": "Gemini: Plan Content",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1520, 300],
      "notes": "PLACEHOLDER — Replace with Gemini node (structured output).\n\nModel: gemini-2.5-flash\nResponse format: JSON\n\nSystem prompt:\nYou are a senior content strategist creating a detailed content plan for a marketing campaign.\n\nYour plan should:\n1. Define 2-4 content pillars that support the campaign goals\n2. Plan each requested asset with a specific angle, key points, and CTA\n3. Ensure variety across assets - different angles, hooks, and CTAs\n4. Maintain consistent brand voice guidelines\n5. Each asset should be self-contained but part of the larger narrative\n\nAsset IDs should follow the pattern: {type}-{number}, e.g. \"linkedin-post-01\", \"blog-article-01\"\n\nUser prompt:\nCreate a content plan for this campaign:\n\nTopic: {{ $('Gemini: Parse Brief').item.json.topic }}\nTarget Audience: {{ $('Gemini: Parse Brief').item.json.targetAudience }}\nGoals: {{ $('Gemini: Parse Brief').item.json.goals.join(', ') }}\nTone: {{ $('Gemini: Parse Brief').item.json.tone }}\nKey Messages: {{ $('Gemini: Parse Brief').item.json.keyMessages.join('; ') }}\nLanguage: {{ $('Gemini: Parse Brief').item.json.language }}\n\nRequested Assets:\n{{ $('Gemini: Parse Brief').item.json.requestedAssets.map(a => '- ' + a.count + 'x ' + a.type).join('\\n') }}\n\nExpected JSON output:\n{\n  \"campaignName\": \"string\",\n  \"summary\": \"string\",\n  \"pillars\": [{ \"name\": \"string\", \"description\": \"string\", \"keyMessages\": [\"string\"] }],\n  \"assets\": [{ \"id\": \"type-01\", \"type\": \"linkedin-post|...\", \"title\": \"string\", \"angle\": \"string\", \"pillar\": \"string\", \"keyPoints\": [\"string\"], \"cta\": \"string\" }],\n  \"brandVoiceGuidelines\": \"string\"\n}"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.SEATABLE_BASE_URL }}/api-gateway/api/v2/dtables/{{ $env.SEATABLE_DTABLE_UUID }}/rows/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ table_name: 'Campaigns', updates: [{ row_id: $('SeaTable: Poll Queued').item.json.results[0]._id, row: { Status: 'generating', Name: $json.campaignName, Pillars: JSON.stringify($json.pillars), 'Brand Voice': $json.brandVoiceGuidelines } }] }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "update-campaign-plan",
      "name": "SeaTable: Update Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "assets",
        "options": { "reset": false }
      },
      "id": "split-assets",
      "name": "Split Assets",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1960, 300],
      "notes": "Splits $('Gemini: Plan Content').item.json.assets into individual items for batched generation"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "id": "batch-generate",
      "name": "Batch Generate",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2180, 300]
    },
    {
      "parameters": {},
      "id": "gemini-generate-asset",
      "name": "Gemini: Generate Asset",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2400, 300],
      "notes": "PLACEHOLDER — Replace with Gemini node (text generation).\n\nModel: gemini-2.5-flash\nResponse format: Plain text\n\nSystem prompt (select based on $json.type):\n\nlinkedin-post: \"You are a LinkedIn content expert writing engaging professional posts. Open with a strong hook (first 2 lines visible in preview). Use short paragraphs and line breaks. Include relevant emojis sparingly (1-3). End with a clear CTA and 3-5 relevant hashtags. 150-300 words. Professional but personable.\"\n\ntwitter-post: \"You are a Twitter/X content expert writing concise, engaging tweets. Max 280 characters per tweet. If a thread is needed, write 3-5 tweets max. First tweet must hook immediately. Use 1-2 relevant hashtags max. Be punchy and direct. Include a CTA in the last tweet.\"\n\nblog-article: \"You are a content marketing expert writing SEO-optimized blog articles. Compelling headline (H1) and meta description. Use clear H2/H3 structure. Engaging introduction with a hook. 800-1500 words. Use bullet points and numbered lists. End with a conclusion and CTA. Write in Markdown format.\"\n\nemail-newsletter: \"You are an email marketing expert writing engaging newsletter content. Compelling subject line (max 60 chars). Preview text (max 90 chars). Personal, conversational tone. Hook → Value → CTA structure. One primary CTA. 300-600 words. Short paragraphs. Write in Markdown format.\"\n\ninstagram-caption: \"You are an Instagram content expert writing engaging captions. Strong hook (first line visible in preview). Tell a micro-story or share a valuable insight. Use line breaks. Include a CTA. Add 5-15 relevant hashtags at the end. 150-300 words. Use emojis (3-5).\"\n\nwhitepaper (maxTokens: 16384): \"You are an expert B2B content writer creating in-depth whitepapers. 3000-5000 words. Structure: Executive Summary → Introduction → 4-6 Main Chapters → Conclusion. Use data, frameworks, practical examples. Professional tone. Each chapter should have actionable takeaways. Markdown format with H1/H2/H3 hierarchy.\"\n\nlanding-page: \"You are a conversion-focused landing page copywriter. Hero section with headline, subheadline, primary CTA. Value proposition (3-4 benefits). How it works section. Social proof (placeholders). FAQ (3-5 questions). Closing CTA section. Markdown format. Persuasive, benefit-driven copy.\"\n\nUser prompt:\nWrite a {{ $json.type }} with these specifications:\n\nTitle/Topic: {{ $json.title }}\nAngle: {{ $json.angle }}\nKey Points to Cover:\n{{ $json.keyPoints.map(p => '- ' + p).join('\\n') }}\nCTA: {{ $json.cta }}\nBrand Voice: {{ $('Gemini: Plan Content').item.json.brandVoiceGuidelines }}\nLanguage: {{ $('Gemini: Parse Brief').item.json.language }}"
    },
    {
      "parameters": {},
      "id": "gemini-review-assets",
      "name": "Gemini: Review Assets",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2620, 300],
      "notes": "PLACEHOLDER — Replace with Gemini node (structured output).\n\nModel: gemini-2.5-flash\nResponse format: JSON\n\nSystem prompt:\nYou are a senior marketing editor reviewing a set of campaign assets for quality and consistency.\n\nEvaluate each asset on:\n1. Quality of writing (clarity, engagement, persuasiveness)\n2. Adherence to brand voice and tone guidelines\n3. Accuracy of key messages\n4. Effectiveness of CTA\n5. Platform-appropriateness (length, format, style)\n\nAlso check cross-asset consistency:\n- Are key messages consistent across all assets?\n- Is the brand voice uniform?\n- Do CTAs complement each other without being repetitive?\n\nScore each asset 1-10 and mark assets scoring below 7 for revision.\n\nUser prompt:\nReview these campaign assets:\n\nCampaign Topic: {{ $('Gemini: Parse Brief').item.json.topic }}\nAudience: {{ $('Gemini: Parse Brief').item.json.targetAudience }}\nTone: {{ $('Gemini: Parse Brief').item.json.tone }}\nKey Messages: {{ $('Gemini: Parse Brief').item.json.keyMessages.join('; ') }}\nBrand Voice: {{ $('Gemini: Plan Content').item.json.brandVoiceGuidelines }}\n\nAssets:\n{{ $('Gemini: Generate Asset').all().map(i => '### ' + i.json.id + ' (' + i.json.type + ')\\n\\n' + i.json.content).join('\\n\\n---\\n\\n') }}\n\nExpected JSON output:\n{\n  \"overallScore\": 8,\n  \"consistencyNotes\": \"string\",\n  \"assetReviews\": [{ \"assetId\": \"linkedin-post-01\", \"score\": 8, \"strengths\": [\"string\"], \"issues\": [\"string\"], \"suggestions\": [\"string\"], \"revised\": false }]\n}"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.SEATABLE_BASE_URL }}/api-gateway/api/v2/dtables/{{ $env.SEATABLE_DTABLE_UUID }}/rows/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ table_name: 'Campaigns', updates: [{ row_id: $('SeaTable: Poll Queued').item.json.results[0]._id, row: { Status: 'reviewing', 'Overall Score': $json.overallScore, 'Consistency Notes': $json.consistencyNotes } }] }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "update-campaign-review",
      "name": "SeaTable: Update Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2840, 300]
    },
    {
      "parameters": {},
      "id": "gemini-generate-image",
      "name": "Gemini: Generate Image",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3060, 300],
      "continueOnFail": true,
      "notes": "PLACEHOLDER — Replace with Gemini image generation node.\n\nModel: gemini-2.5-flash-image\ncontinueOnFail: true (image generation is non-fatal)\n\nStyle per asset type:\n- blog-article: Professional blog header, clean tech elements, 16:9\n- linkedin-post: Professional LinkedIn graphic, corporate gradients, square\n- twitter-post: Eye-catching Twitter graphic, minimalist, 16:9\n- email-newsletter: Email header banner, clean/inviting, 3:1 ratio\n- instagram-caption: Striking Instagram image, vibrant tech style, square\n- whitepaper: Whitepaper cover, elegant/authoritative, A4 portrait\n- landing-page: Hero image, bold abstract shapes, 16:9\n\nPrompt:\n{{ styleForType }}\n\nTopic: {{ asset.title }}\nTheme: {{ $('Gemini: Parse Brief').item.json.topic }}\nMood: {{ $('Gemini: Parse Brief').item.json.tone }}\n\nProfessional B2B tech company. Cohesive color palette (blues, purples, teals). Photorealistic or high-quality illustration style."
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.SEATABLE_BASE_URL }}/api-gateway/api/v2/dtables/{{ $env.SEATABLE_DTABLE_UUID }}/rows/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ table_name: 'Campaigns', updates: [{ row_id: $('SeaTable: Poll Queued').item.json.results[0]._id, row: { Status: 'complete' } }] }) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "complete-campaign",
      "name": "SeaTable: Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3280, 300]
    }
  ],
  "connections": {
    "Schedule: Every 2 min": {
      "main": [[{ "node": "SeaTable: Poll Queued", "type": "main", "index": 0 }]]
    },
    "SeaTable: Poll Queued": {
      "main": [[{ "node": "IF: Has Queued Campaign", "type": "main", "index": 0 }]]
    },
    "IF: Has Queued Campaign": {
      "main": [
        [{ "node": "SeaTable: Set Parsing", "type": "main", "index": 0 }],
        []
      ]
    },
    "SeaTable: Set Parsing": {
      "main": [[{ "node": "Gemini: Parse Brief", "type": "main", "index": 0 }]]
    },
    "Gemini: Parse Brief": {
      "main": [[{ "node": "SeaTable: Update Brief", "type": "main", "index": 0 }]]
    },
    "SeaTable: Update Brief": {
      "main": [[{ "node": "Gemini: Plan Content", "type": "main", "index": 0 }]]
    },
    "Gemini: Plan Content": {
      "main": [[{ "node": "SeaTable: Update Plan", "type": "main", "index": 0 }]]
    },
    "SeaTable: Update Plan": {
      "main": [[{ "node": "Split Assets", "type": "main", "index": 0 }]]
    },
    "Split Assets": {
      "main": [[{ "node": "Batch Generate", "type": "main", "index": 0 }]]
    },
    "Batch Generate": {
      "main": [
        [{ "node": "Gemini: Generate Asset", "type": "main", "index": 0 }],
        [{ "node": "Gemini: Review Assets", "type": "main", "index": 0 }]
      ]
    },
    "Gemini: Generate Asset": {
      "main": [[{ "node": "Batch Generate", "type": "main", "index": 0 }]]
    },
    "Gemini: Review Assets": {
      "main": [[{ "node": "SeaTable: Update Review", "type": "main", "index": 0 }]]
    },
    "SeaTable: Update Review": {
      "main": [[{ "node": "Gemini: Generate Image", "type": "main", "index": 0 }]]
    },
    "Gemini: Generate Image": {
      "main": [[{ "node": "SeaTable: Complete", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "content-creator" }],
  "notes": "Schedule-based Campaign Pipeline. Polls SeaTable every 2 min for queued campaigns. Gemini nodes are placeholders (noOp) with full prompt documentation in their notes fields. Replace each noOp with actual Gemini nodes."
}
